
<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row ">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               [ngClass]="{'is-invalid': nombre.errors!=null && nombre.touched, 'is-valid':nombre.errors==null}"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)] = "usuario.nombre"
               minlength="5"
               required
               #nombre="ngModel">

        <div *ngIf="nombre.errors?.required"
              [ngClass]="{'invalid-feedback':nombre.errors!=null}">
          Este campo es requerido.
        </div>

        <div *ngIf="nombre.errors?.minlength"
              [ngClass]="{'invalid-feedback':nombre.errors!=null}">
          Por lo menos {{nombre.errors.minlength.requiredLength}} caracteres.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               [ngClass]="{'is-invalid':apellido.errors!=null && apellido.touched, 'is-valid':apellido.errors==null}"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               minlength="1"
               required
               #apellido="ngModel">


        <div *ngIf="apellido.errors?.required"
              [ngClass]="{'invalid-feedback':apellido.errors!=null}">
          Este campo es requerido.
        </div>

        <div *ngIf="apellido.errors?.minlength"
              [ngClass]="{'invalid-feedback':apellido.errors!=null}">
          Por lo menos {{apellido.errors.minlength.requiredLength}} caracteres.
        </div>

      </div>

    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             [ngClass]="{'is-invalid':email.errors!=null && email.touched, 'is-valid':email.errors==null}"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="usuario.email"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel">

      <div *ngIf="email.errors?.required"
            [ngClass]="{'invalid-feedback':email.errors!=null}">
        Este campo es requerido.
      </div>

      <div *ngIf="email.errors?.pattern"
            [ngClass]="{'invalid-feedback':email.errors!=null}">
        Formato incorrecto: ejemplo_123@ejempplo.com.
      </div>

    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Apellido</label>
    <div class="col-8">

      <select [(ngModel)]="usuario.pais"
              class="form-control" name="pais">

          <option value="">Selecciones un pais</option>
          <option *ngFor="let pais of paises"
                  [value]="pais.codigo">{{pais.nombre}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-8">

      <label  *ngFor="let s of sexos"
              class="custom-control custom-radio">
        <input [(ngModel)]="usuario.sexo"
               name="sexo"
               [value]= "s"
               type="radio"
               class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ s }}</span>
      </label>

      <!-- <label class="custom-control custom-radio">
        <input [(ngModel)]="usuario.sexo"
               name="sexo"
               value="Mujer"
               type="radio"
               class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Mujer</span>
      </label> -->

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-8">

      <label class="custom-control custom-checkbox">
        <input  [(ngModel)]="usuario.acepta"
                name="acepta"
                type="checkbox"
                class="custom-control-input"
                required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Acepta condiciones</span>
      </label>

    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <!--[disabled]="!forma.valid"-->
      <button [disabled]="!forma.valid"
        type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>

  {{usuario | json}}

</pre>
